/* HEADINGS */
  .h1, .h2, .h3, .h4 {
    color: $primary-brand-color;
  }
  
  .h1 {
    font-size: 2em;
  }
  
  .h2 {
    font-size: 1.8em;
    margin: 2%;
    margin-bottom: 0;
  }
  
  .h3 {
    margin: 1em 0;
  }
  
  .h4 {
    margin: 0.5em 0;
  }
  
  .h5 {
    margin: 0.5em;
  }