.brand {
    font-family: $brand-font-family;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 4px;
  }
  
    .h1, .h2, .h3, .h4 {
      color: $primary-brand-color;
    }
    
    .h1 {
          font-size: 2rem;
    }
    
    .h2 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }

    .h3 {
      line-height: 1.2em;
    }

    .subtitle {
      letter-spacing: 3px;
    }

    .cta-heading {
      margin-bottom: 0;
      padding-top: 10px;
    }