/* UTILITIES */
    .indent {
    padding-left: 15px;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .center {
    text-align: center;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .small {
    font-size: 11px;
    line-height: 10px;
    margin-top: 10px;
  }

  .spacer {
    margin: .5em;
    padding: .5em;
  }

    /*  --- MEDIA OBJECT */
    .media {margin:10px;}
    .media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
    .media .img {float:left; margin-right: 10px;}
    .media .img img{display:block;}
    .media .imgExt{float:right; margin-left: 10px; margin-right: 10%;}