/* BUTTONS */
  
  .btn {
    color: $secondary-brand-color;
    background: transparent;
    border: 2px solid $secondary-brand-color;
    border-radius: 6px;
    padding: .7rem .5rem;
    text-align: center;
    font-size: .8rem;
    margin: 2% 15%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: $secondary-brand-color;
    color: slategray;
  }

  /* MENU BUTTONS */
.menu-btn {
  color: white;
  background: $primary-brand-color;
  border: 2px solid $primary-brand-color;
  padding: .25rem .25rem;
  text-align: center;
  font-size: 1rem;
  margin: 2% 3%;
  display: block;
}

.menu-btn:hover,
.menu-btn:active {
  background: slategray;
  border: 2px solid slategray;
}