  /* NAV */
  a {
    text-decoration: none;
    color: inherit;
  }
  .nav {
    overflow: hidden;
    background-color: #fff;
    position: relative;
  }
  
  .nav #myLinks {
    display: none;
  }
  
  .nav a {
    color: $primary-brand-color;
    padding: .5em 1.2em;
    text-decoration: none;
    font-size: 1em;
    display: block;
    text-align: center;
    border-bottom: 1px solid $primary-brand-color;
  }
  
  .nav a:last-child {
    border-bottom:none;
  }
  .nav a.icon {
    display: block;
    text-align: center;
  }
  
  .nav a:hover {
    color: $secondary-brand-color;
  }

  .navigation {
    display: none;
  }

  @media only screen and (min-width: 700px) {
    .navigation {
      list-style: none;
      margin-left: 5em;
    }

    .navigation li {
      display: inline-block;
    }

    .navigation {
      text-align: center;
      margin: 0 2.5em;
    }
  }


  
@media only screen and (min-width: 850px) {
    .navigation {
      text-align: center;
      margin: 0 6em;
    }
  }

  @media only screen and (min-width: 1100px) {
    .navigation {
      text-align: center;
      margin: 0 10em;
    }
  }

  @media only screen and (min-width: 1150px) {
    .navigation {
      text-align: center;
      margin: 0 em;
    }
  }