/* DIRECTIONS BREAKPOINTS */

/* @ 600 - 900px */
@media only screen and (min-width: 600px) {
    .container { 
        grid-template-areas:
            "h h h h h h h h h h h h"
            "i i i i i i i i i i i i"
            "lo lo lo lo lo lo lo lo lo lo lo lo"
            "mp mp mp mp mp mp dd dd dd dd dd dd"
            "f f f f f f f f f f f f";
      }
      
      .header {
        grid-area: h;
      }
      
      .info {
        grid-area: i;
      }
      
      .location {
          grid-area: lo;
      }

      .map {
          grid-area: mp;
      }

      .driving-directions {
          grid-area: dd;
      }
      
      .footer {
        grid-area: f;
      }
      
        }
