/* LANDSCAPE SMALL SCREENS */
  
  @media only screen and (min-width: 600px) {
    .container {
      grid-template-areas:
      "h h h h h h h h h h h h"
      "i i i i i i i i i i i i"
      "l l l l l l l l l l l l"
      "cl cl cl cl cl cl cl cl cl cl cl cl"
      "cm cm cm cm cm cm cm cm cm cm cm cm"
      "ca ca ca ca ca ca ca ca ca ca ca ca"
      "f f f f f f f f f f f f";
  }
  
  .info {
    background-image: url('http://placebeard.it/g/900x400');
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
  }
  
  }