/* COLORS */

$primary-brand-color: #00aeae;
$primary-lightest: #4ac2c2;
$primary-lighter: #25b4b4;
$primary-darker: #008484;
$primary-darkest: #006767;

$secondary-brand-color: #ac4e00;
$secondary-lighter: #dc6400;

$navy: #011528;
$light-gray: rgb(156, 156, 156);