/* COLORS */

$primary-brand-color: #2a7fc0;
$primary-lightest: #73aedc;
$primary-lighter: #4894cc;
$primary-darker: #086cb7;
$primary-darkest: #074d83;

$secondary-brand-color: #cc7500;
$secondary-lighter: #ffa42a;
$secondary-lightest: #ffb551;

$navy: #011528;
$light-gray: rgb(156, 156, 156);